<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso antecipado ao album</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

<body>
    <div class="box">
        <form action="">
            <center>
                <h1>Formulário de Cadastro</h1>
            
            <footer>Mateus Silva Rodrigues<br><br>
                    <b>Email:</b> matteus22042gmail.com<br><br>
                    <b>Telefone:</b> +55 (85) 988443242<br><br>
            <a href="https://www.google.com.br/maps/place/Escola+Estadual+de+Educa%C3%A7%C3%A3o+Profissional+Paulo+Petrola/@-3.7008197,-38.583127,17.33z/data=!4m15!1m8!3m7!1s0x7c74a0906b18879:0x82dd43379c4affb6!2sEscola+Estadual+de+Educa%C3%A7%C3%A3o+Profissional+Paulo+Petrola!8m2!3d-3.7011537!4d-38.5824594!10e1!16s%2Fg%2F119tnx3y3!3m5!1s0x7c74a0906b18879:0x82dd43379c4affb6!8m2!3d-3.7011537!4d-38.5824594!16s%2Fg%2F119tnx3y3?entry=ttu">Tv. Castelo, s/n - Barra do Ceará, Fortaleza - CE, 60332-710</a>
            </footer></center>
            <main>Os lactobacilos são um grupo de bactérias que têm sido amplamente estudados em relação às suas
                propriedades benéficas, principalmente associadas ao intestino. Receba, em primeira mão, as principais
                notícias da CNN Brasil no seu WhatsApp! Por isso, inclusive, são apelidadas popularmente de “bactérias
                do bem”.</main>
            <nav>Os lactobacilos são um grupo de bactérias que têm sido amplamente estudados em relação às suas
                propriedades benéficas, principalmente associadas ao intestino. Receba, em primeira mão, as principais
                notícias da CNN Brasil no seu WhatsApp! Por isso, inclusive, são apelidadas popularmente de “bactérias
                do bem”.<br>
                <div class="inputBox">
                    <label for="iest"><b>Pesquise por mais: </b></label>
                    <select name="navegar" id="iest">
                        <option value="AL">Alagoas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="MA">Maranhão</option>
                        <option value="PA">Paraíba</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RN">Rio G. do Norte</option>
                        <option value="SE">Sergipe</option>
                    </select>
                </div><br><br>

            </datalist>
            </nav><br>
        </form>
    </div>
</body>

</html>